/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20.04.2023, 19:38:12
    Author     : pfister
*/

.btton{
    -fx-text-fill: red; /*#006464;*/
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}


 .btton:hover {
    -fx-border-color: black ;  
 }



